* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post-header {
    display:flex;
    flex-direction: row;
    margin: 20px;
    gap: 10px;
    justify-content:space-between;
}

.rigo {
    display: flex;
    flex-direction: column;
}

.puntos {
    object-fit: cover;
    width: 25px;
    height: 25px;
}

.post-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.html {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.post {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
    width: 27%;
    background-color: white;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.img-principal {
    width: 100%;
    height: auto;
}

.picture {
    width: 25px;
    height: 25px;
}

.post-icons {
    margin-left: 10px;
}

.post-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.etiqueta {
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;
    margin-right: 10px;
}

.post-body p {
    padding: 10px;
}

.html5img {
    width: 30px;
}

.lorem-parrafo {
    margin-top: 30px;
}

.etiqueta {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.post-icons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}